root = true

###########################################################
## common
###########################################################

[*]
charset = utf-8

end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

###########################################################
## PHP specifics if needed.
###########################################################
[*.php]

###########################################################
## JS specifics if needed.
###########################################################
[*.js]

###########################################################
## HTML specifics if needed.
###########################################################
[*.html]

###########################################################
## CSS specifics if needed.
###########################################################
[*.css]
